<div class="page-header">
<% if @surrender.insurance.is_master? %>
  <%= link_to master_insurance_path(@surrender.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% else %>
  <%= link_to book_insurance_path(@surrender.insurance.book, @surrender.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% end %>

  
  <%= link_to edit_insurance_surrender_path(@surrender.insurance, @surrender), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show surrender</h1>
</div>

<dl class="dl-horizontal">
  <dt>Surrender type:</dt>
  <dd><%= @surrender.surrender_type %></dd>

  <dt>Year:</dt>
  <dd><%= @surrender.year %></dd>

  <dt>Assured age:</dt>
  <dd><%= @surrender.assured_age %></dd>

  <dt>Cv:</dt>
  <dd><%= @surrender.cv %></dd>

  <dt>Rpu:</dt>
  <dd><%= @surrender.rpu %></dd>

  <dt>Ecv:</dt>
  <dd><%= @surrender.ecv %></dd>

  <dt>Eti:</dt>
  <dd><%= @surrender.eti %></dd>

  <dt>Eti year:</dt>
  <dd><%= @surrender.eti_year %></dd>

  <dt>Eti day:</dt>
  <dd><%= @surrender.eti_day %></dd>

  <dt>Etipe:</dt>
  <dd><%= @surrender.etipe %></dd>

</dl>
