<%= form_for([@contract.insured_user, @contract]) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :begin_at %><br>
    <%= f.datetime_select :begin_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :main_plan_id %><br>
    <%= f.number_field :main_plan_id %>
  </div>
  <div class="field">
    <%= f.label :package_plan_id %><br>
    <%= f.number_field :package_plan_id %>
  </div>
  <div class="field">
    <%= f.label :personal_accident_plan_id %><br>
    <%= f.number_field :personal_accident_plan_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
