<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @contract.number %>
</p>

<p>
  <strong>Begin at:</strong>
  <%= @contract.begin_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @contract.end_at %>
</p>

<p>
  <strong>Main plan:</strong>
  <%= @contract.main_plan_id %>
</p>

<p>
  <strong>Package plan:</strong>
  <%= @contract.package_plan_id %>
</p>

<p>
  <strong>Personal accident plan:</strong>
  <%= @contract.personal_accident_plan_id %>
</p>

<%= link_to 'Edit', edit_insured_user_contract_path(@contract.insured_user, @contract) %> |
<%= link_to 'Back', insured_user_path(@contract.insured_user) %>
