<section class="collection-user">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="collection-user-profile-container center-block">
          <img src="<%= current_user.image %>">
        </div>
        <div class="collection-user-username text-center">
          <%= current_user.username %>
          <img src="<%= asset_path 'icon/profile/pencil_big.png' %>">
        </div> 

        <div class="collection-user-link text-center">
          shopfinfer.com/<span class="username-color"><%= current_user.first_name.downcase %></span>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="collection-user-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center collection-wrapper">
        <span class="collection-user-status-figure">
          <div><%= current_user.likes.size %></div>
          <div class="figure-description">Liked items</div>
        </span>
        <span class="collection-user-status-figure">
          <div><%= current_user.collections.size %></div>
          <div class="figure-description">Collections</div>
        </span>
        <div class="collection-user-status-figure">
          <div>0</div>
          <div class="figure-description">Follower</div>
        </div>
        <div class="collection-user-status-figure">
          <div>0</div>
          <div class="figure-description">Following</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collection-collections">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="collection-widget-wrapper">
          <%= link_to  new_collection_path do %>
            <div class="collection-widget collection-new text-center">
              <div class="collection-new-img">
                <img src="<%= asset_path 'icon/profile/newcollection.png' %> ">
              </div>
              <p>Create a new collection</p>
              
              
            </div>
          <% end -%>
        </div>
      </div>
      <% count_row = 1 %>
      <% @collections.each do |collection| %>
        
        <% if count_row % 3 == 0 %>
          </div>
          <div class="row">
        <% end %>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="collection-widget">
            <div class="collection-widget-img-row">
              <div class="collection-widget-img">
                <img src="<%= asset_path 'collection/2_1.png'%>">
              </div>
              <div class="collection-widget-img">
                <img src="<%= asset_path 'collection/2_2.png'%>">
              </div>
            </div>
            <div class="collection-widget-img-row">
              <div class="collection-widget-img">
                <img src="<%= asset_path 'collection/2_3.png'%>">
              </div>
              <div class="collection-widget-img">
                <img src="<%= asset_path 'collection/2_4.png'%>">
              </div>
            </div>
            <div class="collection-bar">
              <div class="collection-bar-text">
                <span><%= collection.name %></span>
              </div>  
              <div class="collection-bar-text">
                <span class="item-num"><%= collection.items.count %> items</span>
              </div>              
            </div>
          </div>
        </div>
        <% count_row += 1 %>

      <% end %>
    </div>
  </div>
</section>
