<div class="page-header">
  <%= link_to new_insurance_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Insurance
  <% end %>
  <h1>Listing insurances</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Premium</th>
            <th>Protection length</th>
            <th>Paid preriod length</th>
            <th>Consider year</th>
            <th>Consider gender</th>
            <th>Company</th>
            <th>Reference</th>
            <th>Book</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @insurances) do |insurance| %>
            <td><%= insurance.name %></td>
            <td><%= insurance.amount %></td>
            <td><%= insurance.premium %></td>
            <td><%= insurance.protection_length %></td>
            <td><%= insurance.paid_period_length %></td>
            <td><%= insurance.consider_year %></td>
            <td><%= insurance.consider_gender %></td>
            <td><%= insurance.company %></td>
            <td><%= insurance.reference_id %></td>
            <td><%= insurance.book_id %></td>
            <td><%= link_to 'Show', insurance %></td>
        <td><%= link_to 'Edit', edit_insurance_path(insurance) %></td>
        <td><%= link_to 'Destroy', insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
