<div class="page-header">
  <%= link_to new_dividend_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dividend
  <% end %>
  <h1>Listing dividends</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Year</th>
            <th>Age</th>
            <th>Amount</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @dividends) do |dividend| %>
            <td><%= dividend.year %></td>
            <td><%= dividend.age %></td>
            <td><%= dividend.amount %></td>
            <td><%= link_to 'Show', dividend %></td>
        <td><%= link_to 'Edit', edit_dividend_path(dividend) %></td>
        <td><%= link_to 'Destroy', dividend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
