<div class="row">
  <div class="col-md-3">
    <%= render 'index' %>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-9">
        <div class="page-header">
          <%= link_to persons_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Back
          <% end %>
          <%= link_to edit_person_path(@person), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          <% end %>
          <h1>Show person</h1>
        </div>

        <div class="row">
          <div class="col-md-2">
            <img src="holder.js/150x150">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div><%= @person.first_name %></div>
                <div><%= @person.company %></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div><%= @person.gender %></div>
                <div>Gender</div>
              </div>
              <div class="col-md-3">
                <div><%= @person.date_of_birth %></div>
                <div>Age</div>
              </div>
              <div class="col-md-3">
                <div>Classic</div>
                <div>Rank</div>
              </div>
              <div class="col-md-3">
                <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <div>Prospect</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            MOBILE
          </div>
          <div class="col-md-3">
            <%= @person.mobile %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            BIRTHDATE
          </div>
          <div class="col-md-3">
            <%= @person.date_of_birth %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            JOB
          </div>
          <div class="col-md-3">
            <%= @person.occupation %>
          </div>
          <div class="col-md-3">
            CIGARATTE
          </div>
          <div class="col-md-3">
            <%= @person.is_smoking %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            ID NUMBER
          </div>
          <div class="col-md-3">
            <%= @person.national_id %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            WEIGHT
          </div>
          <div class="col-md-3">
            <%= @person.weight %>
          </div>
          <div class="col-md-3">
            HEIGHT
          </div>
          <div class="col-md-3">
            <%= @person.height %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <section class="relation">
          <div class="page-header">
            <%= link_to new_relation_person_path(@person), class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Add
            <% end %>
            <h1>Family</h1>
          </div>

          <% @person.relations.each do |person| %>
            <div>
              <%= person.first_name %> <%= person.last_name %> -- <%= person.relation_desc %>
            </div>
            <!-- td><%= link_to 'Show', person_path(person) %></td>
            <td><%= link_to 'Destroy', delete_relation_person_path(@person, uid: person.id, relation_desc: person.relation_desc) , method: :delete, data: { confirm: 'Are you sure?' } %></td -->
          <% end %>

        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <%= render "navs" %>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="book-wrapper">
            <%= link_to new_person_book_path(@person) do %>
              <div>เพิ่มเลมกรมธรรม</div>
              <div><%= Date.current %></div>
            <% end %>
          </div>
        </div>
        <% count_row = 1 %>
        <% @person.books.length.downto(1).each do |i| %>
        <% book = @person.books[i-1] %>

        <% if count_row % 3 == 0 %>
          </div>
          <div class="row">
        <% end %>


        <div class="col-md-4 col-lg-4">
          <div class="book-wrapper">
            <%= link_to person_book_path(book.person, book) do %>
              
              <div class="row">
                <div class="col-xs-12">
                  <%= i %> 
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <%= book.main_insurance.name if book.main_insurance %> 
                </div>
                <div class="col-xs-6">
                  <%= book.main_insurance.status if book.main_insurance %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div><%= book.begin_age %></div>
                  <div><%= book.begin_at %></div>
                  <div>เริ่มกรมธรรม์ (อายุ)</div>
                </div>
                <div class="col-xs-6">
                  <div><%= book.end_age %></div>
                  <div><%= book.end_at %></div>
                  <div>สิ้นสุดกรมธรรม์ (อายุ)</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div><%= book.main_insurance.amount if book.main_insurance %></div>
                  <div>ทุนประกัน <%= book.sum_insurance_amount %></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div><%= book.riders.map { |r| r.name } .join(", ") %></div>
                  <div>สัญญาคุมครองเพิ่มเติม</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div><%= book.number %></div>
                  <div>เลขที่กรมธรรม์</div>
                </div>
              </div>
               <div class="row">
                <div class="col-xs-12">
                  <div>เบี้ยประกันรวม <%= book.sum_insurance_premium %></div>
                </div>
              </div>
            
            <% end %>
          </div>
        </div>

        <% count_row += 1 %>
        <% end %>
      </div>

      
        <!-- section class="book">
          <h1 class="text-center">Books</h1>
          
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>Begin at</th>
                    <th>End at</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @person.books.each do |book| %>
                    <tr>
                      <td><%= book.number %></td>
                      <td><%= book.begin_at %></td>
                      <td><%= book.end_at %></td>
                      <td><%= link_to 'Show', [book.person, book] %></td>
                      <td><%= link_to 'Edit', edit_person_book_path(book.person, book) %></td>
                      <td><%= link_to 'Destroy', [book.person, book], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

          <%= link_to "Add book", new_person_book_path(@person) %>
        </section -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>เบี้ยประกันรวม <%= @person.sum_insurance_premium %></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>สรุปกรมธรรม์</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>กรมธรรม์หลัก</th>
              <th>ความคุ้มครองช่วยเหลือ</th>
              <th>ความคุ้มครอง</th>
              <th>อายุ</th>
              <th>เบี้ยประกัน</th>
              <th>ปี</th>
            </tr>
          </thead>

          <tbody>
            <% @person.insurances.each do |insurance| %>
              <tr>
                <td><%= insurance.name %></td>
                <td></td>
                <td><%= insurance.amount %></td>
                <td><%= insurance.maximum_cover_age %></td>
                <td><%= insurance.premium %></td>
                <td><%= insurance.paid_period_length %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>สัญญาคุ้มครองเพิ่มเติม</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>กรมธรรม์หลัก</th>
              <th>ความคุ้มครองช่วยเหลือ</th>
              <th>ความคุ้มครอง</th>
              <th>อายุ</th>
              <th>เบี้ยประกัน</th>
              <th>ปี</th>
            </tr>
          </thead>

          <tbody>
            <% @person.riders.each do |rider| %>
              <tr>
                <td>
                  <div><%= rider.name %></div>
                  <div><%= rider.description %></div>
                </td>
                <td></td>
                <td><%= rider.amount %></td>
                <td><%= rider.maximum_cover_age %></td>
                <td><%= rider.premium %></td>
                <td><%= 1 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>สัญญาคุ้มครองอุบัติเหตุ</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>กรมธรรม์หลัก</th>
              <th>ความคุ้มครองช่วยเหลือ</th>
              <th>ความคุ้มครอง</th>
              <th>อายุ</th>
              <th>เบี้ยประกัน</th>
              <th>ปี</th>
            </tr>
          </thead>

          <tbody>
            <% @person.pas.each do |pa| %>
              <tr>
                <td>
                  <div><%= pa.name %></div>
                  <div><%= pa.description %></div>
                </td>
                <td></td>
                <td><%= pa.amount %></td>
                <td><%= pa.maximum_cover_age %></td>
                <td><%= pa.premium %></td>
                <td><%= 1 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>