<div class="page-header">
  <%= link_to new_person_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Person
  <% end %>
  <h1>Listing persons</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Marital status</th>
            <th>Spouse</th>
            <th>Income</th>
            <th>National</th>
            <th>Passport</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Occupation</th>
            <th>Person type</th>
            <th>Is smoking</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @persons) do |person| %>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.gender %></td>
            <td><%= person.date_of_birth %></td>
            <td><%= person.marital_status %></td>
            <td><%= person.spouse_id %></td>
            <td><%= person.income %></td>
            <td><%= person.national_id %></td>
            <td><%= person.passport_id %></td>
            <td><%= person.height %></td>
            <td><%= person.weight %></td>
            <td><%= person.occupation %></td>
            <td><%= person.person_type %></td>
            <td><%= person.is_smoking %></td>
            <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
