<div class="row">
  <div class="col-lg-12">
      <%= form_for([@book.person, @book], html: {class: "form-horizontal"}) do |f| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-lg-2">
          <%= f.label :number, class: 'control-label'  %>
        </div>
        <div class="col-lg-10">
          <%= f.text_field :number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">
          <%= f.label :begin_at, class: 'control-label'  %>
        </div>
        <div class="col-lg-10">
          <%= f.date_select :begin_at, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">
          <%= f.label :end_at, class: 'control-label'  %>
        </div>
        <div class="col-lg-10">
          <%= f.date_select :end_at, :include_blank => true, class: "form-control" %>
        </div>
      </div>
            <div class="form-group">
        <div class="col-lg-2">
          <%= f.label :assured_person_id, class: 'control-label'  %>
        </div>
        <div class="col-lg-2">
          <input class="form-control" type="text" name="book[assured_person_id]" id="book_assured_person_id" ng-model="assured_person_id">
        </div>
        <div class="col-lg-2">
          <search-person-panel  id="assured_person_id_search" default="<%= @book.assured_person_id %>" uid="assured_person_id"></search-person-panel>
        </div>
      </div>
            <div class="form-group">
        <div class="col-lg-2">
          <%= f.label :payer_person, class: 'control-label'  %>
        </div>
        <div class="col-lg-2">
          <input class="form-control" type="text" name="book[payer_person_id]" id="book_payer_person_id" ng-model="payer_person_id">
        </div>
        <div class="col-lg-2">
          <search-person-panel  id="payer_person_id" uid="payer_person_id"></search-person-panel>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit 'submit', class: "btn btn-primary" %>
        </div>`
      </div>
    <% end %>

  </div>
</div>
