<div class="page-header">
  <%= link_to person_books_path(@book.person), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_person_book_path(@book.person, @book), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show book</h1>
</div>

<dl class="dl-horizontal">
  <dt>Number:</dt>
  <dd><%= @book.number %></dd>

  <dt>Begin at:</dt>
  <dd><%= @book.begin_at %></dd>

  <dt>End at:</dt>
  <dd><%= @book.end_at %></dd>

  <dt>Assured person:</dt>
  <dd><%= @book.assured_person_id %></dd>

  <dt>Payer person:</dt>
  <dd><%= @book.payer_person_id %></dd>

</dl>

<div class="page-header">
  <h1>Plans</h1>
</div>

<h3>Main Plan</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @book.main_plan %>
      <tr>
        <td><%= @book.main_plan.name %></td>
        <td><%= link_to 'Show', book_plan_path(@book, @book.main_plan) %></td>
        <td><%= link_to 'Edit', edit_book_plan_path(@book, @book.main_plan) %></td>
        <td><%= link_to 'Destroy', [@book, @book.main_plan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<h3>Orther Plan Listing</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book.not_main_plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= link_to 'Show', book_plan_path(plan.book, plan) %></td>
        <td><%= link_to 'Edit', edit_book_plan_path(plan.book, plan) %></td>
        <td><%= link_to 'Destroy', [plan.book, plan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new plan', new_book_plan_path(@book) %><br/>
<%= link_to 'Back', person_path(@book.person) %>
