<div class="page-header">
  <%= link_to new_insurance_return_path(@insurance), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Return
  <% end %>
  <h1>Listing returns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Year</th>
            <th>Age</th>
            <th>Amount</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @returns) do |return| %>
            <td><%= return.year %></td>
            <td><%= return.age %></td>
            <td><%= return.amount %></td>
            <td><%= link_to 'Show', return %></td>
        <td><%= link_to 'Edit', edit_return_path(return) %></td>
        <td><%= link_to 'Destroy', return, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
