<h3>PA</h3>
<%= link_to 'Edit', edit_master_pa_path(@pa) %> <br>

<p>
  <strong>Name:</strong>
  <%= @pa.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pa.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pa.status %>
</p>


<p>
  <strong>Tags:</strong>
  <%= @pa.tag_list %>
</p>



<h1>Listing Coverages</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pa.pa_coverages.each do |pa_coverage| %>
      <tr>
        <td><%= pa_coverage.key %></td>
        <td><%= pa_coverage.value %></td>
        <td><%= pa_coverage.description %></td>
        <td><%= link_to 'Show', pa_pa_coverage_path(pa_coverage.pa, pa_coverage) %></td>
        <td><%= link_to 'Edit', edit_pa_pa_coverage_path(pa_coverage.pa, pa_coverage) %></td>
        <td><%= link_to 'Destroy', [pa_coverage.pa, pa_coverage], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add pa_coverage', new_pa_pa_coverage_path(@pa) %>
<br/>
<%= link_to 'Back to Master PA', masters_pas_path %> 
