<p id="notice"><%= notice %></p>

<h1>Listing Riders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Code name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riders.each do |rider| %>
      <tr>
        <td><%= rider.name %></td>
        <td><%= rider.description %></td>
        <td><%= rider.status %></td>
        <td><%= rider.code_name %></td>
        <td><%= link_to 'Show', [rider.contract, rider] %></td>
        <td><%= link_to 'Edit', edit_contract_rider_path(rider.contract, rider) %></td>
        <td><%= link_to 'Destroy', [rider.contract, rider], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

