<h1>Listing Riders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Code name</th>
      <th>Premium</th>
      <th>Amount</th>
      <th>Max cover Age</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riders.each do |rider| %>
      <tr>
        <td><%= rider.name %></td>
        <td><%= rider.description %></td>
        <td><%= rider.status %></td>
        <td><%= rider.code_name %></td>
        <td><%= rider.premium %></td>
        <td><%= rider.amount %></td>
        <td><%= rider.maximum_cover_age %></td>
        <td><%= rider.tag_list %></td>
        <td><%= link_to 'Show', [rider.book, rider] %></td>
        <td><%= link_to 'Edit', edit_book_rider_path(rider.book, rider) %></td>
        <td><%= link_to 'Destroy', [rider.book, rider], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @riders, :theme => 'twitter-bootstrap-3' %>


