<h1>New Rider From Master</h1>

<%= form_for([@rider.book, @rider], url: create_from_master_book_riders_path(@rider.book, @rider)) do |f| %>
  <% if @rider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
      <% @rider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([ "active", "inactive"]) %>
  </div>
  <div class="field">
    <%= f.label :code_name %><br>
    <%= f.text_field :code_name %>
  </div>

  <div class="field">
  	<%= f.label :master_rider %><br>
  	<%= f.collection_select(:master_rider_id, MasterRider.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<%= link_to 'Back', book_riders_path(@rider.book) %>
