<h1>New Rider From Master</h1>

<%= form_for([@rider.plan, @rider], url: create_from_master_plan_riders_path(@rider.plan, @rider)) do |f| %>
  <% if @rider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
      <% @rider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([ "active", "inactive"]) %>
  </div>
  <div class="form-group">
    <%= f.label :code_name %>
    <%= f.text_field :code_name, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= f.label :master_rider %>
  	<%= f.collection_select(:master_rider_id, Rider.master.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>

<% end %>


<%= link_to 'Back', plan_riders_path(@rider.plan) %>
