<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rider.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rider.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rider.status %>
</p>

<p>
  <strong>Code name:</strong>
  <%= @rider.code_name %>
</p>


<h1>Listing Coverages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Coverage amount</th>
      <th>Category</th>
      <th>Rider</th>
      <th>Abbr</th>
      <th>Premium amount</th>
      <th>Premium unit</th>
      <th>Coverage unit</th>
      <th>Coverage end at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rider.coverages.each do |coverage| %>
      <tr>
        <td><%= coverage.name %></td>
        <td><%= coverage.description %></td>
        <td><%= coverage.coverage_amount %></td>
        <td><%= coverage.category %></td>
        <td><%= coverage.rider_id %></td>
        <td><%= coverage.abbr %></td>
        <td><%= coverage.premium_amount %></td>
        <td><%= coverage.premium_unit %></td>
        <td><%= coverage.coverage_unit %></td>
        <td><%= coverage.coverage_end_at %></td>
        <td><%= link_to 'Show', rider_coverage_path(coverage.rider, coverage) %></td>
        <td><%= link_to 'Edit', edit_rider_coverage_path(coverage.rider, coverage) %></td>
        <td><%= link_to 'Destroy', [coverage.rider, coverage], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add coverage', new_rider_coverage_path(@rider) %>
<br/>

<%= link_to 'Edit', edit_contract_rider_path(@rider.contract, @rider) %> |
<%= link_to 'Back To Contract', insured_user_contract_path(@rider.contract.insured_user, @rider.contract) %>
