<p id="notice"><%= notice %></p>

<h1>Listing Master Riders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Begin at</th>
      <th>End at</th>
      <th>Description</th>
      <th>Status</th>
      <th>Code name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_riders.each do |master_rider| %>
      <tr>
        <td><%= master_rider.name %></td>
        <td><%= master_rider.begin_at %></td>
        <td><%= master_rider.end_at %></td>
        <td><%= master_rider.description %></td>
        <td><%= master_rider.status %></td>
        <td><%= master_rider.code_name %></td>
        <td><%= link_to 'Show', master_rider %></td>
        <td><%= link_to 'Edit', edit_master_rider_path(master_rider) %></td>
        <td><%= link_to 'Destroy', master_rider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master rider', new_master_rider_path %>
