<div class="row">
  <div class="col-lg-12">
    <%= form_for([@coverage.rider, @coverage], html: {class: "form-horizontal"}) do |f| %>
      <% if @coverage.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@coverage.errors.count, "error") %> prohibited this coverage from being saved:</h2>

          <ul>
          <% @coverage.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :category , class: 'col-lg-2 control-label'%>
        <div class="col-lg-10">
          <%= f.text_field :category, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :tag_list, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :tag_list, :value => "#{@coverage.tag_list}", class: "form-control thunder-taginput", "data-role" => "tagsinput" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :reference_id , class: 'col-lg-2 control-label'%>
        <div class="col-lg-10">
          <%= f.text_field :reference_id, class: "form-control" %>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <%= f.label :assured_amount, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :assured_amount, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :coverage_unit, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :coverage_unit, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :coverage_end_at, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :coverage_end_at, class: "form-control" %>
        </div>
      </div>

      <hr>
      
      <div class="form-group">
        <%= f.label :premium_amount, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :premium_amount, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :premium_unit, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :premium_unit, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit 'submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


