<p id="notice"><%= notice %></p>

<h1>Listing Coverages</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Assured amount</th>
      <th>Premium amount</th>
      <th>Premium unit</th>
      <th>Coverage unit</th>
      <th>Coverage end at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coverages.each do |coverage| %>
      <tr>
        <td><%= coverage.name %></td>
        <td><%= coverage.category %></td>
        <td><%= coverage.assured_amount %></td>
        <td><%= coverage.premium_amount %></td>
        <td><%= coverage.premium_unit %></td>
        <td><%= coverage.coverage_unit %></td>
        <td><%= coverage.coverage_end_at %></td>
        <td><%= link_to 'Show', master_coverage_path(coverage) %></td>
        <td><%= link_to 'Edit', edit_master_coverage_path(coverage) %></td>
        <td><%= link_to 'Destroy', master_coverage_path(coverage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master Coverage', new_master_coverage_path %>
