<h1>Listing Coverages</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Description</th>
      <th>Tag List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coverages.each do |coverage| %>
      <tr>
        <td><%= coverage.key %></td>
        <td><%= coverage.value %></td>
        <td><%= coverage.description %></td>
        <td><%= coverage.tag_list %></td>
        <td><%= link_to 'Show', rider_coverage(coverage.rider, coverage) %></td>
        <td><%= link_to 'Edit', edit_rider_coverage_path(coverage.rider, coverage) %></td>
        <td><%= link_to 'Destroy', coverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @coverages, :theme => 'twitter-bootstrap-3' %>

<%= link_to 'New Coverage', new_coverage_path %>
