<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coverage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coverage.description %>
</p>

<p>
  <strong>Assured amount:</strong>
  <%= @coverage.assured_amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @coverage.category %>
</p>

<p>
  <strong>Rider:</strong>
  <%= @coverage.rider_id %>
</p>

<p>
  <strong>Premium amount:</strong>
  <%= @coverage.premium_amount %>
</p>

<p>
  <strong>Premium unit:</strong>
  <%= @coverage.premium_unit %>
</p>

<p>
  <strong>Coverage unit:</strong>
  <%= @coverage.coverage_unit %>
</p>

<p>
  <strong>Coverage end at:</strong>
  <%= @coverage.coverage_end_at %>
</p>

<p>
  <strong>Tag list:</strong>
  <%= @coverage.tag_list %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @coverage.reference_id %>
</p>

<%= link_to 'Edit', edit_rider_coverage_path(@coverage.rider, @coverage) %> |

<% if  @coverage.rider.is_master? %>
<%= link_to 'Back to master rider', master_rider_path(@coverage.rider) %> |
<% end -%>


<% if  @coverage.rider.insurance != nil %>
<%= link_to 'Back to rider', insurance_rider_path(@coverage.rider.insurance, @coverage.rider) %>
<% end -%>
