<div class="page-header">
  <% if  @coverage.rider.is_master? %>
    <%= link_to master_rider_path(@coverage.rider),  class: 'btn btn-default'  do %> 
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>    
  <% end -%>

  <% if  @coverage.rider.insurance != nil %>
    <%= link_to insurance_rider_path(@coverage.rider.insurance, @coverage.rider),  class: 'btn btn-default'  do %> 
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>    
  <% end -%>

  <%= link_to edit_rider_coverage_path(@coverage.rider, @coverage), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show coverage</h1>
</div>

<dl class="dl-horizontal">
  <dt>Key:</dt>
  <dd><%= @coverage.key %></dd>

  <dt>Value:</dt>
  <dd><%= @coverage.value %></dd>

  <dt>Desciption:</dt>
  <dd><%= @coverage.description %></dd>

  <dt>Tag List:</dt>
  <dd><%= @coverage.tag_list %></dd>

</dl>

