<%= form_for([@plan.book, @plan]) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :plan_type %><br>
    <%= f.text_field :plan_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :begin_at %><br>
    <%= f.datetime_select :begin_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at, :include_blank => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :reference_id , class: 'col-lg-2 control-label'%>
    <div class="col-lg-10">
      <%= f.text_field :reference_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
