<div class="row">
  <div class="col-lg-12">
    <h3>Master Plan</h3>

    <%= link_to 'Edit', edit_master_plan_path(@plan) %>

    <p>
      <strong>Name:</strong>
      <%= @plan.name %>
    </p>

    <p>
      <strong>Minimum Age:</strong>
      <%= @plan.minimum_age %>
    </p>

    <p>
      <strong>Maxmimum Age:</strong>
      <%= @plan.maximum_age %>
    </p>

    <p>
      <strong>Consider Year:</strong>
      <%= @plan.consider_year %>
    </p>

    <p>
      <strong>Consider Gender:</strong>
      <%= @plan.consider_gender %>
    </p>

    <p>
      <strong>Paid Period Lenght:</strong>
      <%= @plan.paid_period_length %>
    </p>

    <p>
      <strong>Protection Length:</strong>
      <%= @plan.protection_length %>
    </p>

    <p>
      <strong>Group:</strong>
      <%= @plan.group %>
    </p>

    <p>
      <strong>Company:</strong>
      <%= @plan.company %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= @plan.tag_list %>
    </p>

    <h3>Assoiated Riders</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Code name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @plan.riders.each do |rider| %>
          <tr>
            <td><%= rider.name %></td>
            <td><%= rider.description %></td>
            <td><%= rider.status %></td>
            <td><%= rider.code_name %></td>
            <td><%= link_to 'Show', [rider.plan, rider] %></td>
            <td><%= link_to 'Edit', edit_plan_rider_path(rider.plan, rider) %></td>
            <td><%= link_to 'Destroy', [rider.plan, rider], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Add new rider', new_plan_rider_path(@plan) %>

    <br>
    <br>
    <hr>

    <%= link_to 'Back to Master Plan', masters_plans_path %> 
  </div>
</div>


