<h1>Editing Insured User</h1>


<%= form_for(@insured_user) do |f| %>
  <% if @insured_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insured_user.errors.count, "error") %> prohibited this insured_user from being saved:</h2>

      <ul>
      <% @insured_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.text_field :gender, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth %>
    <%= f.datetime_select :date_of_birth %>
  </div>
  <div class="form-group">
    <%= f.label :marital_status %>
    <%= f.text_field :marital_status, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :income %>
    <%= f.text_field :income, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :national_id %>
    <%= f.text_field :national_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :passport_id %>
    <%= f.text_field :passport_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :height %>
    <%= f.text_field :height, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :occupation %>
    <%= f.text_field :occupation, class: "form-control" %>
  </div>  
  <br/>
  <div class="form-group">
    <%= f.label :parent_id %>
    <%= f.text_field :parent_id, class: "form-control" %>
  </div>  
   <div class="form-group">
    <%= f.label :spouse_id %>
    <%= f.text_field :spouse_id, class: "form-control" %>
  </div>  

  <div class="actions">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Show', @insured_user %> |
<%= link_to 'Back', insured_users_path %>
