<section class="user-profile">
	<div class="container">

		<div class="row">
			<div class="col-lg-3">
				<section class="profile">
						<h1>Profile</h1>
							<p>
					  		<strong>First name:</strong>
							  <%= @insured_user.first_name %>
							</p>

							<p>
							  <strong>Last name:</strong>
							  <%= @insured_user.last_name %>
							</p>

							<p>
							  <strong>Gender:</strong>
							  <%= @insured_user.gender %>
							</p>
							<p>
							  <strong>Date of Birth:</strong>
							  <%= @insured_user.date_of_birth %>
							</p>
							<p>
							  <strong>Marital Statue:</strong>
							  <%= @insured_user.marital_status %>
							</p>
							<p>
							  <strong>Income:</strong>
							  <%= @insured_user.income_formatted %>
							</p>
							<p>
							  <strong>National ID:</strong>
							  <%= @insured_user.national_id %>
							</p>
							<p>
							  <strong>Passport ID:</strong>
							  <%= @insured_user.passport_id %>
							</p>
							<p>
							  <strong>Height:</strong>
							  <%= @insured_user.height %>
							</p>
							<p>
							  <strong>Weight:</strong>
							  <%= @insured_user.weight %>
							</p>
							<p>
							  <strong>Occupation:</strong>
							  <%= @insured_user.occupation %>
							</p>
				</section>

				<section>
					<h1>Relatives</h1>
					<h3>Parents</h3>
					<% @insured_user.parents.each do |user| %>
							<div>
								<span><%= user.first_name %> <%= user.last_name %></span>
							</div>
					<% end -%>

					<h3>Siblings</h3>
					<% @insured_user.get_siblings.each do |user| %>
							<div>
								<span><%= user.first_name %> <%= user.last_name %></span>
							</div>
					<% end -%>

					<h3>Children</h3>
					<% @insured_user.children.each do |user| %>
							<div>
								<span><%= user.first_name %> <%= user.last_name %></span>
							</div>
					<% end -%>
				</section>
			</div>

			<div class="col-lg-6">
				<section class="summary">
					<h1 class="text-center">Summary</h1>
					<h3>Riders</h3>
					
				</section>
				<section class="contract">
					<h1 class="text-center">Contracts</h1>
					<% @insured_user.contracts.each do |contract| %>
					<div>
						<%= contract.number %>
					</div>
					<% end %>
				</section>
			</div>

			<div class="col-lg-3">
				<section class="payment">
					<h1 class="text-center">Payment</h1>
				</section>
			</div>

		</div><!-- end row -->


		

		<%= link_to 'Edit', edit_insured_user_path(@insured_user) %> |
		<%= link_to 'Back', insured_users_path %>

</div>
</section>