<section class="user-profile">
	<div class="container">

		<div class="row">
			<div class="col-lg-3">
				<section class="profile">
						<h1>Profile</h1>
							<p>
					  		<strong>First name:</strong>
							  <%= @insured_user.first_name %>
							</p>

							<p>
							  <strong>Last name:</strong>
							  <%= @insured_user.last_name %>
							</p>

							<p>
							  <strong>Gender:</strong>
							  <%= @insured_user.gender %>
							</p>
							<p>
							  <strong>Date of Birth:</strong>
							  <%= @insured_user.date_of_birth %>
							</p>
							<p>
							  <strong>Marital Statue:</strong>
							  <%= @insured_user.marital_status %>
							</p>
							<p>
							  <strong>Income:</strong>
							  <%= @insured_user.income_formatted %>
							</p>
							<p>
							  <strong>National ID:</strong>
							  <%= @insured_user.national_id %>
							</p>
							<p>
							  <strong>Passport ID:</strong>
							  <%= @insured_user.passport_id %>
							</p>
							<p>
							  <strong>Height:</strong>
							  <%= @insured_user.height %>
							</p>
							<p>
							  <strong>Weight:</strong>
							  <%= @insured_user.weight %>
							</p>
							<p>
							  <strong>Occupation:</strong>
							  <%= @insured_user.occupation %>
							</p>
				</section>

				<section>
					<h1>Relatives</h1>
					<h3>Parents</h3>
					<% @insured_user.parents.each do |user| %>
							<div>
								<span>
									<%= link_to insured_user_path(user) do %> 
										<%=user.first_name %> <%= user.last_name %>
									<% end -%>
								</span>
							</div>
					<% end -%>

					<h3>Siblings</h3>
					<% @insured_user.get_siblings.each do |user| %>
							<div>
								<span>
									<%= link_to insured_user_path(user) do %> 
										<%=user.first_name %> <%= user.last_name %>
									<% end -%>
								</span>
							</div>
					<% end -%>

					<h3>Children</h3>
					<% @insured_user.children.each do |user| %>
							<div>
								<span>
									<%= link_to insured_user_path(user) do %> 
										<%=user.first_name %> <%= user.last_name %>
									<% end -%>
								</span>
							</div>
					<% end -%>
				</section>
			</div>

			<div class="col-lg-7">
				<section class="summary">
					<h1 class="text-center">Summary</h1>
					<h3>Riders</h3>

					<table>
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Description</th>
					      <th>Status</th>
					      <th>Code name</th>
					      <th colspan="3"></th>
					    </tr>
					  </thead>

					  <tbody>
					    <% @insured_user.riders.each do |rider| %>
					      <tr>
					        <td><%= rider.name %></td>
					        <td><%= rider.description %></td>
					        <td><%= rider.status %></td>
					        <td><%= rider.code_name %></td>
					        <td><%= link_to 'Show', [rider.contract, rider] %></td>
					        <td><%= link_to 'Edit', edit_contract_rider_path(rider.contract, rider) %></td>
					        <td><%= link_to 'Destroy', [rider.contract, rider], method: :delete, data: { confirm: 'Are you sure?' } %></td>
					      </tr>
					    <% end %>
					  </tbody>
					</table>

					
				</section>
				<section class="contract">
					<h1 class="text-center">Contracts</h1>
					
							<table>
							  <thead>
							    <tr>
							      <th>Number</th>
							      <th>Begin at</th>
							      <th>End at</th>
							      <th>Main plan</th>
							      <th>Package plan</th>
							      <th>Personal accident plan</th>
							      <th colspan="3"></th>
							    </tr>
							  </thead>

							  <tbody>
							    <% @insured_user.contracts.each do |contract| %>
							      <tr>
							        <td><%= contract.number %></td>
							        <td><%= contract.begin_at %></td>
							        <td><%= contract.end_at %></td>
							        <td><%= contract.main_plan_id %></td>
							        <td><%= contract.package_plan_id %></td>
							        <td><%= contract.personal_accident_plan_id %></td>
							        <td><%= link_to 'Show', [contract.insured_user, contract] %></td>
							        <td><%= link_to 'Edit', edit_insured_user_contract_path(contract.insured_user, contract) %></td>
							        <td><%= link_to 'Destroy', [contract.insured_user, contract], method: :delete, data: { confirm: 'Are you sure?' } %></td>
							      </tr>
							    <% end %>
							  </tbody>
							</table>

					<%= link_to "Add Contract", new_insured_user_contract_path(@insured_user) %>
				</section>
			</div>

			<div class="col-lg-2">
				<section class="payment">
					<h1 class="text-center">Payment</h1>
				</section>
			</div>

		</div><!-- end row -->


		

		<%= link_to 'Edit', edit_insured_user_path(@insured_user) %> |
		<%= link_to 'User Directory', insured_users_path %>

</div>
</section>