<p id="notice"><%= notice %></p>

<h1>Listing Master Coverages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Abbr</th>
      <th>Coverage amount</th>
      <th>Coverage unit</th>
      <th>Coverage end at</th>
      <th>Premium amount</th>
      <th>Premium unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_coverages.each do |master_coverage| %>
      <tr>
        <td><%= master_coverage.name %></td>
        <td><%= master_coverage.description %></td>
        <td><%= master_coverage.category %></td>
        <td><%= master_coverage.abbr %></td>
        <td><%= master_coverage.coverage_amount %></td>
        <td><%= master_coverage.coverage_unit %></td>
        <td><%= master_coverage.coverage_end_at %></td>
        <td><%= master_coverage.premium_amount %></td>
        <td><%= master_coverage.premium_unit %></td>

        <td><%= link_to 'Show', master_coverage %></td>
        <td><%= link_to 'Edit', edit_master_coverage_path(master_coverage) %></td>
        <td><%= link_to 'Destroy', master_coverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master coverage', new_master_coverage_path %>
